body{
   font :0.75em Dotum,AppleGothic,sans-serif;
}

input[type=text] {
    width:400px;
}

#tblNotiList{
    text-align:center;
}

.mFlex{
    display:flex;
}

.mFlex > h3 {
    padding:5px;
}

.mFlex > #btnAddCriteria {
    text-decoration: none;
}

.mFlex > #btnAddCriteria > p{
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 50%;
}

textarea{
    width: 352px;
    height: 75px;
    resize: none;
}

/*#optionsForNotif{
    width:70%;
}*/

#contentAddVar {
    margin-left: -77px;
    margin-top: -46px;
}

#leftSide{
    width:80%;
}

.previewBox{
    margin-right: 10px;
    width:300px;
    height: 300px;
    min-height: 300px;
    box-sizing: content-box;;
}

.previewBox > #title {
    min-height: 20px;
    border: 1px solid #d9dadc;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px;
}

.previewBox > #contents{
    border: 1px solid #d9dadc;
    min-height: 200px;
    padding: 10px 10px;
}

.previewBox > #contents > #descritpion{
    overflow-y: scroll;
}

.previewBox > #contents > #btnCoupon{
    margin-left:60px;
}

.displayNotif{
    margin-top:20px;
    margin-left:20px;
}

#trCoupon{
    visibility: hidden;
}

#trProducts{
    visibility: hidden;
}

#trRegistration{
    visibility: hidden;
}

#btnCoupon{
    display: none;
}
#register {
    display: none;
    text-align: center;
}

.notifBox{
    height:300px !important; 
    border:1px solid #797979;
}
.mFlex > .boxRules {
    padding: 5px;
    background-color: #3a90ca; /*#0099ff*/
    margin-right: 20px;
    margin-top:20px;
    width: 150px;
    height: 150px;
}

.mFlex > .boxRules > h3{
    color: #fff;
    word-wrap: break-word;
}

.mFlex > .boxAdd {
    background-color: #555555;
    margin-left: 20px;
    margin-top:20px;
    width: 150px;
    height: 150px;
    text-align: center;
        border: 5px solid #555555;
}

.mFlex > .boxAdd > a{
    color: #fff;
    word-wrap: break-word;
    font-size:8em;
    text-decoration: none;

}

.flexWrap {
    flex-wrap: wrap;
}

.boxRules:focus{
    outline:0;
    border:4px solid #225a68;
}

.border {
    outline:0;
    border:4px solid #225a68;
}

.aContainer {
    width:50px;
    margin-right:10px;
    flex-wrap: wrap;
    display:block;
}

.slideSettings{
    display:none;
    color:#fff;
    background-color:#999;
}

#tablePopup{
    width:100%;
}

.spanWidth{
    width:30px;
}

.imgBorder{
    padding: 5px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}

#prodPreview > div{
    margin:0 auto;
}

.txtNumber {
    width:40px;
}

#footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 300;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #d6d6d6;
    background-color: #f5f5f5;
}

#tdTextArea {
    position:relative;
}

#tdTextArea > a {
    position: absolute;
}

.secCoupon{
    display:none;
}

.secRegistration{
    display:none;
}

.secProducts{
    display:none;
}

#secGroupList{
    display: none;
}

#labelCriteria{
    width: 150px;
    height: 150px;
    position: relative;
    cursor:pointer;
    background-color: #3a90ca; /*#0099ff*/
    margin-left:20px;
    margin-top:20px;
}

#labelCriteria > div {
    padding: 5px;
    color:#FFF;
    font-size:20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.rdbGroupCriteria {
    display:none;
    outline:none;
}

#labelCriteria{
    border: 5px solid #3a90ca;
}
#labelCriteria.eSelected {
    border: 5px solid #225a68;
}

.setting {
    background-color: rgb(119, 119, 119);
    padding: 15px;
}

#Option {
    z-index:90 !important;
}

