.mFlex{
    display:flex;
    margin-top: 10px;
}

.mFlex > img {
    justify-content: right;
}

.popupBox{
    z-index: 110;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    line-height: 1.5;
    display: block !important;
    position: absolute;
    clear: both;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(189,189,189,1);
      -moz-box-shadow: 0px 0px 7px 1px rgba(189,189,189,1);
        box-shadow: 0px 0px 7px 1px rgba(189,189,189,1);
    padding:20px 50px;
    text-decoration:none;
    color : #252525;
}

.popupBox .wrap {
    padding: 10px 10px 20px;
    word-wrap: break-word;
}

.popupBox > h2 {
    border-bottom: 1px solid #f6f6f6;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background: #f6f6f6;
    color: #00b0af;
}

.popupBox .btnClose {
    overflow: hidden;
    position: absolute;
    top: 6px;
    right: 9px;
    width: 14px;
    height: 14px;
    text-indent: 150%;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    background: url(//img.echosting.cafe24.com/suio/sfix_btn.png) no-repeat 0 0;
}

.gSmall{
    width: 340px;
}

.imgBorder{
    padding: 5px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}

#prodPreview {
    margin:0 auto;
}


.contents {
    text-align:center;
}

/*.top-left{
    top:0px;
    left:0px;
}

.top-right{
    top:0px;
    right:0px;
}

.bottom-left{
    bottom:0px;
    left:0px;
}

.bottom-right{
    bottom:0px;
    right:0px;
}*/

.mFlex {
    margin-top: 20px;
}
#product-details > h3 {
    margin-bottom : 20px;
}

#product-details > .mFlex > .contents{
    text-align:left;
    margin-left: 10px;
}

#product-details > .mFlex > .contents > h3 {
    color :#5f9bd5 ;
}

.contents > #btnLogin, #btnRegister, a{
    margin-top:10px;
}

.product-iframe{
    display: none;
}

.text-blue {
    color:#45a1e2 ;
}
